{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-prettier"
  ],
  "rules": {
    "selector-class-pattern": "[a-zA-Z]"
  },
  "ignoreFiles": [
    ".app/cli/templates/**/*.scss"
  ]
}
