{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-prettier"
  ],
  "rules": {
    "selector-class-pattern": "[a-zA-Z]",
    "font-family-no-missing-generic-family-keyword": null
  },
  "ignoreFiles": [
    ".app/cli/templates/**/*.scss"
  ]
}
